.layer-organization {
}

.organization-wrap {
  display: flex;
  padding-top: 15px;
}
.organization-wrap:first-child{
  padding-top:0;
}
.organization-btns {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.organization-setting {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
}
.organization-setting .organization-employee{
  border:1px solid #f0f0f0
}
